

body,input,select,textarea {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light","Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

}

body {
	 padding-top: 150px;
}


.footer {
      margin-top: 45px;
      padding-top: 15px;
      border-top: 1px solid #e5e5e5;
      text-align: center;
}
.footer p {
      margin-bottom: 0;
      color: #555;
}
a.external {
      background-image: url("../images/common/icon-external-link.png");
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: right center;
      padding-right: 13px;
}


#upperNav {
	
	
	background-position:top center;
	background-repeat: repeat-x;
	overflow: hidden;
    height: 70px;

    
    -moz-box-shadow: inset 0 0 15px 3px #444;
    -webkit-box-shadow: inset 0 0 15px 3px #444;
    box-shadow: inset 0 0 15px 3px #444;
}



#lowerNav {
    
    height: 35px;
}

#lowerNav a {
    padding-top: 9px !important;
    padding-bottom: 7px !important;
}


.appstripe {

    height: 6px;
    background-image: url(../images/common/shadow.png);
    background-position: bottom;
    background-repeat: repeat-x;
    

    
}
.brand {
    letter-spacing: 1px !important;
    padding-left: 0px !important;
    margin-left: 0px !important;
    background-color: none !important;
}

.satelite {

 
 padding-left: 4px !important;


}

#brandBar a.sGroup {

font-weight: bold;
     letter-spacing: 1px;
     padding-bottom: 0px  !important;
     padding-top: 0px !important;
     padding-left: 5px !important;

}
#brandBar a {
     margin-right: 8px;
     margin-top: 3px;
     padding-bottom: 3px  !important;
     padding-top: 0px !important;
    
    
     height: 16px !important;
     margin-bottom:3px;
}

#brandBar {
    height: 25px;
    padding-top: 0px;
    overflow: hidden;
    -moz-box-shadow:  1px 0 29px 3px #000;
    -webkit-box-shadow:  1px 0 29px 3px #000;
    box-shadow:  1px 0 29px 3px #000;
}



#brandBar a.satelite:hover {
    color: #000;
}

#brandBar a.appCG:hover {
    background-color:  #8bfe01;
}
a.appCG {
    border-left: 4px solid   #8bfe01;

}

#brandBar a.appSL:hover {
    background-color:  #cc00ff;
}

a.appSL {
    border-left: 4px solid  #cc00ff;

}

#brandBar a.appGS:hover {
    background-color:   #0099ff;
}

#brandBar a.appIM:hover {
    background-color:  red;
}



a.appGS {
    border-left: 4px solid  #0099ff;

}

a.appIM {
    border-left: 4px solid red;

}